body{
    padding-top: 40px;
    color: rgb(246, 242, 242) !important;
    font-size: 19px !important;
    background-color: rgb(28, 28, 111) !important;
}
td{
    padding: 20px;
}
input{
    width: 50%;
    border-radius: 20px;
}
.btn{
    background-color: white !important; 
}
.btn:hover{
    background-color: black !important;
    color: white !important;
}
input{
border: none;
}
table{
    border-collapse: collapse;
    margin: 100px !important;
    background-color: black;
    color: green;
    width: auto;
    font-family: cursive;
    font-size: 19px;
}





